<!DOCTYPE html>

<html>

  <head>
    <title>
      @gen-date / Confirmar Baja Empleado
    </title>
  </head>

  <body>
    {% extends 'cuenta/principal.html' %}
    {% block content %}

    <div class="card">
      <h5 class="card-header">Confirmar Baja Empleado</h5>
      <div class="card-body">
        <h5 class="card-title">Desea dar de baja el empleado "{{ usuario.username }}" ?</h5>
        <form method="POST">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-2" align= "Center">
              <a href="{% url 'home' %}" class="btn btn-success">Volver</a>
            </div>
            <div class="col-md-2" align= "Center">
              <input type="submit" class="btn btn-danger" name="btn_baja" value="Aceptar">
            </div>
          </div>
        </form>
      </div>
    </div>

    {% endblock%}
  </body>

</html>